<html>
<center>
  <h1> {{ title }} </h1>
  <p> Welcome to {{title}} </p>
  <center>
    <link rel="stylesheet" href="/stylesheets/style.css">
  <div class="form">
    <form class="bake" >
      <center>
  <input id="login_id" type="text" placeholder="Private_Key"/>
  <center><p>OR </p></center>
  <form >
     <input type="file" name="fileToUpload" id="fileToUpload" onChange="uploadFunction(event)">
   </form>
  <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "login_cookie(event)" > Login</button>
</center>
  </form>
  </div>
  </center>
<script src='/javascripts/main.js'></script>
</center>
</html>

